.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

.header {
  background-color: #864c7d;
}

header {
  background-color: #864c7d;
}

h1 {
  margin-top: 1em;
  margin-left: 1em;
}

.adroll {
  border: 1px solid black;
}

a {
  font-family: Lato, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

header a {
  color: #fff;
  font-family: Righteous, cursive;
}

header a:hover {
  background-color: #6e3865;
}

.main-img {
  opacity: .3;
  position: absolute;
}

main {
  font-family: Lato, sans-serif;
}

.btn {
  color: #000;
  background-color: #94d4f5;
  border-radius: 7px;
  border: none;
}

.btn:hover {
  background-color: #5fbef0;
  color: #000;
}

.banner {
  position: relative;
  bottom: 10em;
}

.purpleheaders {
  font-family: Righteous, cursive;
  color: #864c7d;
}

footer {
  font-family: Lato, sans-serif;
  background-color: #864c7d;
  color: #fff;
}

.phone {
  color: #fff;
}

.cards {
  background-color: #94d4f5;
  border-radius: 10px;
  padding: 1em;
}

.card-button {
  background-color: #864c7d;
  border-radius: 7px;
  color: #fff;
}

.card-button:hover {
  background-color: #6e3865;
}

.pink {
  background-color: #f4bfd2;
}

fieldset {
  border: none;
}

.account {
  color: #000;
}

.account:hover {
  color: #6e3865;
}

.icons {
  display: inline-block;
}

@media only screen and (min-width: 25em) {

  .banner {
    bottom: 12em;
  }

}

@media only screen and (min-width: 38em) {

  .banner {
    bottom: 17em;
  }

}

@media only screen and (min-width: 60em) {

  .banner {
    bottom: 20em;
  }

}
