

    font-family: 'Lato', sans-serif;

    font-family: 'Righteous', cursive;

.header {
  background-color: #864c7d;
}

header {
  background-color: #864c7d;
}

h1 {
  margin-top: 1em;
  margin-left: 1em;
}

.adroll {
  border: 1px solid black;
}

a {
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  text-decoration: none;
  font-style: bold;
}

header a {
  color: #fff;
  font-family: 'Righteous', cursive;
}

header a:hover {
  background-color: #6e3865;
}

.main-img {
  opacity: .3;
  position: absolute;
}

main {
  font-family: 'Lato', sans-serif;
}

main a {
  color: black;
  background-color: #5fbef0;
  border-radius: 7px;
  font-style: bold;
}

.button {
  color: black;
  background-color: #5fbef0;
  border-radius: 7px;
}

.banner {
  position: relative;
  bottom: 10em;
}

.purpleheaders {
  font-family: 'Righteous', cursive;
  color: #864c7d;
}

footer {
  font-family: 'Lato', sans-serif;
  background-color: #864c7d;
  color: #fff;
}

.cards {
  background-color: #5fbef0;
}

.pink {
  background-color: #f4bfd2;
}



@media only screen and (min-width: 25em) {

  .banner {
    bottom: 12em;
  }


@media only screen and (min-width: 38em) {

  .banner {
    bottom: 17em;
  }

}

@media only screen and (min-width: 60em) {

  .banner {
    bottom: 20em;
  }
}
